<tr id="<%= dom_id song %>">
  <td><%= link_to song.title, song %></td>
  <td><%= minutes_in_words(song.practices.this_week_total) %></td>
  <td><%= minutes_in_words(song.total_practice_time) %></td>
</tr>
