<h1>Songs</h1>

<p><%= link_to "<i class='bi bi-music-note'></i> New Song".html_safe, new_song_path, class: 'btn btn-outline-primary' %></p>

<table class='table table-striped'>
  <theader>
    <tr>
      <th>Title</th>
      <th>This Week</th>
      <th>Total</th>
    </tr>
  </theader>
  <tbody>
    <%= render @songs %>
  </tbody>
</table>

