<%= turbo_frame_tag focus do %>
  <p>
    <%= focus.short_description %> &mdash; <%= minutes_in_words(focus.practices.this_week_total) %> this week &mdash; <%= minutes_in_words(focus.total_practice_time) %> total
  </p>
<% end %>
