<h1>Foci</h1>

<p>What are you working on these days? Scales? Performance? Rocking out? The Zen of tuba mastery?</p>
<p>Create a focus so you can track your work on that aspect of your practices.</p>

<p><%= link_to "<i class='bi bi-music-note'></i> New Focus".html_safe, new_focus_path, data: { turbo_frame: "new_focus" }, class: 'btn btn-outline-primary', id: 'new-focus' %></p>

<%= turbo_frame_tag "new_focus", target: "_top" %>

<table class='table table-striped'>
  <thead class=thead-dark>
    <tr>
      <th scope="col">Focus</th>
      <th scope="col">This Week</th>
      <th scope="col">Total</th>
    </tr>
  </thead>
  <tbody>
    <%= render @foci %>
  </tbody>
</table>


