<p style="color: green"><%= notice %></p>

<h1>Foci</h1>

<p><%= link_to "<i class='bi bi-music-note'></i> New focus".html_safe, new_focus_path, data: { turbo_frame: "new_focus" }, class: 'btn btn-outline-primary' %></p>

<%= turbo_frame_tag "new_focus", target: "_top" %>

<table class='table table-striped'>
  <theader>
    <tr>
      <th>Focus</th>
      <th>This Week</th>
      <th>Total</th>
    </tr>
  </theader>
  <tbody>
    <%= render @foci %>
  </tbody>
</table>


