<%= turbo_frame_tag @practice do %>
  <%= render "form", practice: @practice %>
<% end %>>

<!--<div>-->
<!--  <%#= link_to "Show this practice", @practice %> |-->
  <%#= link_to "Back to practices", practices_path %>
<!--</div>-->
