
.img-md {
  width: 4rem;
  height: 4rem;
}
.btn-link {
  transition-property: color,background-color;
  box-shadow: none;
  border-radius: 0;
  text-decoration: none!important;
}

#stopwatch {
}

.timerDisplay{
  font-family: ‘Roboto mono’,monospace;
  font-size: 40px;
  align-items: center;
  justify-content: space-around;
}

