
.img-md {
  width: 4rem;
  height: 4rem;
}
.btn-link {
  transition-property: color,background-color;
  box-shadow: none;
  border-radius: 0;
  text-decoration: none!important;
}

#stopwatch {
}
.stopwatch .controls{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 30px;
}
.stopwatch .controls button{
  background: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 20px;
  color: #0d6efd;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.stopwatch .controls button:hover{
  transform: scale(0.98);
}
.stopwatch .controls button:active{
  transform: scale(0.95);
}
.stopwatch .controls button.active{
  background: #ffffff;
  color: #0d6efd;
}
.stopwatch .controls button.active:hover{
  transform: scale(1);
}
.stopwatch .controls button.active:active{
  transform: scale(0.98);
}
.stopwatch .controls button.active i{
  animation: blink 1s infinite;
}
.stopwatch .controls button i{
  margin-right: 5px;
}
.stopwatch .controls button i.fa-pause{
  display: none;
}
.stopwatch .controls button.active i.fa-play{
  display: none;
}

.timerDisplay{
  font-family: ‘Roboto mono’,monospace;
  font-size: 40px;
  align-items: center;
  justify-content: space-around;
}
